/*Global*/
body{
background-image: url("../Img/wallpaper.png"); 
}

/* Home*/

header{
font-family: 'Oswald', sans-serif;
font-size: 120px;
font-weight: 400;
color:white;
text-align: center;
background-color: rgba(0,0,0,.7);

}

h1{ 
font-family: 'Oswald', sans-serif;
font-size: 74px;
font-weight: 400;
color:white;
text-align: center;
background-color: rgba(0,0,0,.7);
}

.bio{ 
font-family: 'Oswald', sans-serif;
font-size: 74px;
font-weight: 400;
color:white;
text-align: center;
background-color: rgba(0,0,0,.7);
margin: 10px;
}

h2{
	font-family: 'Oswald', sans-serif;
font-size: 80px;
font-weight: 700;
color:white;
text-align: center;
line-height: 70%
}

h3{
  font-family: 'Oswald', sans-serif;
font-size: 30px;
font-weight: 700;
color:white;
text-align:center;
background-color: rgba(0,0,0,.7);
max-width: 100%
}


em{
font-family: 'Oswald', sans-serif;
font-size: 20px;
font-weight: 300;
color:#0E0;
text-align:center;
}


p{font-family: 'Oswald', sans-serif;
font-size: 20px;
color: white;
list-style-type: none;
line-height: 130%;
margin: 10px 0px;}


li{
font-family: 'Oswald', sans-serif;
font-size: 20px;
color: white;
list-style-type: none;
line-height: 130%;
margin: 10px 0px;
}


/*Nav*/
.nav{
background-color: rgba(255,255,255,.7);
max-width: 100%;
padding: 5px;
}

.nav li{
font-family: 'Oswald', sans-serif;
font-size: 20px;
font-weight: 300;
color:#0E0;
list-style-type: none;
display: inline;
text-align: center;
}

#border {
  border-radius: 50%;
  border-style: solid;
  border-width:  100px
  background: #BADA55;

}


div.img {
    margin: 50px;
    height: auto;
    width: auto;
    float: both;
    text-align: center;
}

/* Link*/

a:link {
font-family: 'Oswald', sans-serif;
font-size: 20px;
color: white;
list-style-type: none;
line-height: 130%;
margin: 10px 0px;
}


a:visited {
  color: black;
  text-decoration: none;
}

a:focus {

}

a:hover {
  color:#4C4C4C;
}

a:active {
  background: red;
}
/* Layout for Style Tile
Feel free to change */
section {
  margin: 20px 0;
}
 /*Style Tile*/

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
  border: 1px solid #000;
  float: left;
  margin: 0 10px;
  height: 50px;
  width: 50px;
border: 1px solid #000;
float: left;
margin: 0 10px;
height: 50px;
width: 50px;
}

/* Set Your Own Margin & Padding */
h1,h2, h3, p{
  margin: 2px;
}
 
/* Clearfix - Oo Not Remove */
.clearfix {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}

.style-tile .color-1{
background: #000;
}

.style-tile .color-2{
background: #0E0;
}

.style-tile .color-3{
background: #FFF;
}

.style-tile .pattern-1{
background: url("../img/pattern-1.gif");
}

.style-tile .pattern-2{
background: url("../img/pattern-2.jpg");

}

.style-tile .pattern-3{
background: url(../img/pattern-3.jpg);

}

 
/* Clearfix - Oo Not Remove */
.clearfix {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}






