/*Global*/
body{
    background-color: gray;
   background-image: url("../Img/background.jpg");
   background-size: cover; 
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}

/* Home*/

header{
font-family: 'Oswald', sans-serif;
font-size: 80px;
font-weight: 400;
color:white;
text-align: center;
background-image: url("../Img/pattern-2.jpg");
max-width: 100%;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

h1{ 
font-family: 'Oswald', sans-serif;
font-size: 74px;
font-weight: 400;
color:white;
text-align: center;
background-color: rgba(0,0,0,.7);
}

.bio{ 
font-family: 'Oswald', sans-serif;
font-size: 74px;
font-weight: 400;
color:white;
text-align: center;
background-color: rgba(0,0,0,.7);
margin: 10px;
}

h2{
	font-family: 'Oswald', sans-serif;
font-size: 80px;
font-weight: 700;
color:white;
text-align: center;
line-height: 70%;
margin: 20px;
}

h3{
  font-family: 'Oswald', sans-serif;
font-size: 30px;
font-weight: 700;
color:white;
text-align:center;
background-color: rgba(0,0,0,.7);
max-width: 100%
}
h4{ 
font-family: 'Oswald', sans-serif;
font-size: 30px;
font-weight: 700;
color:#66FF33;
text-align:center;
max-width: 100%
}

h5{
font-family: 'Oswald', sans-serif;
font-size: 15px;
font-weight: 700;

}



em{
font-family: 'Oswald', sans-serif;
font-size: 20px;
font-weight: 300;
color:#FFF;
text-align:center;
}


p{font-family: 'Oswald', sans-serif;
font-size: 20px;
color: white;
font-weight: 50;
list-style-type: none;
line-height: 130%;
margin: 10px 0px;
line-height: 1.5;
}


li{
font-family: 'Oswald', sans-serif;
font-size: 20px;
color: white;
list-style-type: none;
line-height: 130%;
margin: 10px 0px;
}

footer{
font-family: 'Oswald', sans-serif;
font-size: 30px;
font-weight: 700;
color:white;
text-align:center;
background-color: rgba(0,0,0,.7);
max-width: 100%

}



/*Nav*/
.nav-bar ul {
    list-style-type: none;
    background:#66FF33;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar li {
    float: left;
    width:20%;
    text-align: center;
}

html body a{
color:#FFFFFF;   
}
a:link, a:visited {
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #7A991A;
}

#border {
  max-width:100%;
  margin:50px auto;
  position: center;
}




img{
max-width: 100%



}




/* Link*/

a:link, a:hover {
color: white;
list-style-type: none;
line-height: 130%;
margin: 10px 0px;
}


a:visited {
  color: black;
  text-decoration: none;
}

a:focus {

}

a:hover {

}

a:active {
  background: red;
}
/* Layout for Style Tile
Feel free to change */
section {
  margin: 20px 0;
}
 /*Style Tile*/

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
  border: 10px solid #000;
  border-radius: 50%;
  float: left;
  margin: 0 10px;
  height: 200px;
  width: 200px;
}

/* Set Your Own Margin & Padding */



 
/* Clearfix - Oo Not Remove */
.clearfix {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}

.style-tile .color-1{
background: #000;
}

.style-tile .color-2{
background: #0E0;
}

.style-tile .color-3{
background: #FFF;
}

.style-tile .pattern-1{
background: url("../Img/pattern-1.gif");
}

.style-tile .pattern-2{
background: url("../Img/pattern-2.jpg");

}

.style-tile .pattern-3{
background: url("../Img/pattern-3.jpg");

}


 
/* Clearfix - Oo Not Remove */
.clearfix {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}



a:link, a:hover {
font-size: 20px;
color: white;
list-style-type: none;
line-height: 130%;
margin: 10px 0px;
}


#stylelink a:visited {
  text-decoration: none;
}

#stylelink a:focus {

}

#stylelink a:hover {
  color:#4C4C4C;
}

a:active {
  background: red;
}

.bio-img{
margin: 10px 0;

}


/*Grid Layout*/
/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1%;
  background: rgba(0,0,0,.7);
  height: 500px;
  border-radius: 5%;
  padding: 5px;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.33%; }
.span_1_of_3 { width: 32.66%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}


/*Gallery*/

/* Layout of gallery items*/
figure { 
background-color: white;
  border-bottom: 20px solid #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 15px #696969;
  padding: 10px;
  
  /* layout */
  float: left;
  height: 240px;
  margin: 40px;
  width: 240px;
  
  /* set relative parent for each time*/
  position: relative;
}

/* Header */
figure h5 {
  background: white;
  color: #66FF33;
  padding: 5px;
  text-align: right;
  letter-spacing: 3px;
  text-transform: uppercase;
  
  /* absolute position headings */
  position: absolute;
  top: 0;
  right: -40px;
  /* 
     * absolutely positioned elements only as wide as content
     * optionally set widths
  */
  width: 100%;
 /* bring to front */ 
  z-index: 2;
}

/* Caption Container */
.thumbnail {

  /* parent for caption */ 
  position: relative;
  /* 
    * set to any dimensions
    * matched to size of image in this case
  */   
  height: 240px;
  width: 240px;
  /* hide overflowing content */ 
  overflow: hidden;
}

/* Caption - First Frame */
.thumbnail p {
  background: rgba(255,255,255,.75);
  font-size: .75em;
  font-style: italic;
  padding: .25em;
  text-align: center;
  
  position: absolute;
  margin: 0;
  /* value is height of image */   
  bottom: 0;
  opacity: 0;
}



/* Portfolio */
.photo {
  border-radius: 2px;
  margin:2px;
}

.illus {
  border-radius: 2px;
  margin:2px;
}

.Digital {
 border-radius: 2px;
 margin:2px;
}

.hide {
  opacity: 0;
  transition: opacity .25s;
  position: absolute;
}

.photo:hover {
  border-radius: 2px;
  margin:2px;
}

.illus:hover {
  border-radius: 2px;
  margin:2px;
}

.Digital:hover {
background: rgba(0,0,0,.5);
}








