/*Global*/
body{
    background-color: gray;
   background-image: url("../Img/wallpaper.png"); 
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: 50% 50%; 
}

/* Home*/

header{
font-family: 'Oswald', sans-serif;
font-size: 120px;
font-weight: 400;
color:white;
text-align: center;
background-color: rgba(0,0,0,.7);

}

h1{ 
font-family: 'Oswald', sans-serif;
font-size: 74px;
font-weight: 400;
color:white;
text-align: center;
background-color: rgba(0,0,0,.7);
}

.bio{ 
font-family: 'Oswald', sans-serif;
font-size: 74px;
font-weight: 400;
color:white;
text-align: center;
background-color: rgba(0,0,0,.7);
margin: 10px;
}

h2{
	font-family: 'Oswald', sans-serif;
font-size: 80px;
font-weight: 700;
color:white;
text-align: center;
line-height: 70%
}

h3{
  font-family: 'Oswald', sans-serif;
font-size: 30px;
font-weight: 700;
color:white;
text-align:center;
background-color: rgba(0,0,0,.7);
max-width: 100%
}


em{
font-family: 'Oswald', sans-serif;
font-size: 20px;
font-weight: 300;
color:#FFF;
text-align:center;
}


p{font-family: 'Oswald', sans-serif;
font-size: 20px;
color: white;
list-style-type: none;
line-height: 130%;
margin: 10px 0px;}


li{
font-family: 'Oswald', sans-serif;
font-size: 20px;
color: white;
list-style-type: none;
line-height: 130%;
margin: 10px 0px;
}

footer{
font-family: 'Oswald', sans-serif;
font-size: px;
font-weight: 700;
color:white;
text-align:center;
background-color: rgba(0,0,0,.7);
max-width: 100%


}

/*Nav*/
.nav-bar ul {
    list-style-type: none;
    background:#98bf21;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar li {
    float: left;
    width:30%;
    text-align: center;
}

a:link, a:visited {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #7A991A;
}





#border {
  border-radius: 50%;
  border-style: solid;
  border-width:  100px
  background: #BADA55;

}


div.img {
    margin: 50px;
    height: auto;
    width: auto;
    float: both;
    text-align: center;
}

/* Link*/

a:link, a:hover {
font-family: 'Oswald', sans-serif;
font-size: 20px;
color: white;
list-style-type: none;
line-height: 130%;
margin: 10px 0px;
}


a:visited {
  color: black;
  text-decoration: none;
}

a:focus {

}

a:hover {
  color:#4C4C4C;
}

a:active {
  background: red;
}
/* Layout for Style Tile
Feel free to change */
section {
  margin: 20px 0;
}
 /*Style Tile*/

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
  border: 1px solid #000;
  float: left;
  margin: 0 10px;
  height: 50px;
  width: 50px;
border: 1px solid #000;
float: left;
margin: 0 10px;
height: 50px;
width: 50px;
}

/* Set Your Own Margin & Padding */
h1,h2, h3, p{
  margin: 2px;
}
 
/* Clearfix - Oo Not Remove */
.clearfix {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}

.style-tile .color-1{
background: #000;
}

.style-tile .color-2{
background: #0E0;
}

.style-tile .color-3{
background: #FFF;
}

.style-tile .pattern-1{
background: url("../img/pattern-1.gif");
}

.style-tile .pattern-2{
background: url("../img/pattern-2.jpg");

}

.style-tile .pattern-3{
background: url(../img/pattern-3.jpg);

}


 
/* Clearfix - Oo Not Remove */
.clearfix {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}






