/*Global*/
body{
background-image: url("../Img/wallpaper.png"); 
}

h1{font-family: 'Oswald', sans-serif;
font-size: 74px;
font-weight: 400;
color:white;
text-align: center;
background-color: rgba(0,0,0,.7)
}
h2{
	font-family: 'Oswald', sans-serif;
font-size: 80px;
font-weight: 700;
color:white;
text-align: center;
line-height: 70%
}

h3{
  font-family: 'Oswald', sans-serif;
font-size: 30px;
font-weight: 700;
color:white;
text-align:center;
background-color: rgba(0,0,0,.7)
}

/*Nav*/
p,ul{
font-family: 'Oswald', sans-serif;
font-size: 30px;
color: white;
list-style-type: none;
background-color: #000;
margin:2% 5%;
line-height: 130%;
padding: 1%;
}

/* Space*/



div.img {
    margin: auto;
    height: auto;
    width: auto;
    float: both;
    text-align: center;
}



/*Fonts*/



/* Link*/
a{
	text-declaration:;
  font-size: 2em;
  font-weight: bold;
  color: color!important;
}

a:link,
a:visited {
  color: #00EE00;
  text-decoration: none;
}

a:focus {
  background: red;
}

a:hover {
 
  color: #466BA6;
}

a:active {
  background: red;
}
